# Ignore outputs
runs/
ultralytics/data/30road.mp4
ultralytics/data/50motorway.mp4
ultralytics/data/IMG_5975.mov
ultralytics/data/IMG_5976.mov
ultralytics/data/IMG_6165.mov
ultralytics/data/IMG_6162.mov
ultralytics/data/IMG_6163.mov
ultralytics/data/IMG_6178.mov
ultralytics/data/IMG_6181.mov
ultralytics/data/OBDdash_log_2025_2_25_10_37_5.csv
ultralytics/data/OBDdash_log_2025_2_26_16_30_25.csv
speed_log.txt
VehicleSpeedEstimationVideo.avi
